# Server Configuration
PORT=3000
NODE_ENV=dev

# Service URLs
IDENTITY_SERVICE_URL=http://localhost:3001
PRODUCT_SERVICE_URL=http://localhost:3002
ORDER_SERVICE_URL=http://localhost:3003
SMART_BUILDER_SERVICE_URL=http://localhost:3004
SEARCH_SERVICE_URL=http://localhost:3006
SYSTEM_SERVICE_URL=http://localhost:3007
VOUCHER_SERVICE_URL=http://localhost:3008

# Rate Limiting
API_RATE_LIMIT_WINDOW_MS=60000
API_RATE_LIMIT_MAX_REQUESTS=1000

# CORS
CORS_ORIGIN=http://localhost:4000,http://localhost:4001,http://localhost:3000,http://localhost:3001,http://localhost:3002,http://localhost:3003,http://localhost:3004,http://localhost:3005,http://localhost:3006,http://localhost:3007,http://localhost:3008

