PORT=3000

IDENTITY_SERVICE_URL=http://localhost:3001
PRODUCT_SERVICE_URL=http://localhost:3002
ORDER_SERVICE_URL=http://localhost:3003
SMART_BUILDER_SERVICE_URL=http://localhost:3004
CHATBOT_SERVICE_URL=http://localhost:3005
SEARCH_SERVICE_URL=http://localhost:3006
SYSTEM_SERVICE_URL=http://localhost:3007
VOUCHER_SERVICE_URL=http://localhost:3008 

JWT_SECRET=dangduc1510
API_RATE_LIMIT_WINDOW_MS=60000
API_RATE_LIMIT_MAX_REQUESTS=1000

LOG_LEVEL=info
NODE_ENV=dev

CORS_ORIGIN=http://localhost:4000,http://localhost:4001