# Port service sẽ chạy
PORT=3008

# MongoDB Online Connection - Thay thế bằng connection string của bạn
MONGO_URI=mongodb+srv://ducbd1510:151002@ducbd.a8vx9jc.mongodb.net/

# MONGODB_DB_NAME=pc-adviser
# JWT Configuration
JWT_SECRET=ducbd1510
JWT_EXPIRES_IN=24h

# Redis Configuration (Optional - có thể bỏ trống nếu không dùng Redis)
REDIS_URL=redis://localhost:6379
# REDIS_HOST=localhost  
# REDIS_PORT=6379
# REDIS_PASSWORD=password

# Logging
LOG_LEVEL=info
NODE_ENV=development

# Cloudinary Configuration
CLOUDINARY_URL=cloudinary://762612891411269:phYTZX1Ph9Q4syZWoe7VRYDqXf0@dxstpnc1n

RATE_LIMIT_WINDOW=60000
RATE_LIMIT_MAX=200
ORDER_SERVICE_URL=http://localhost:3003
VOUCHER_SERVICE_URL=http://localhost:3008 
IDENTITY_SERVICE_URL=http://localhost:3001
PRODUCT_SERVICE_URL=http://localhost:3002