# Server Configuration
NODE_ENV=development
PORT=3007

# MongoDB Configuration
MONGO_URI=mongodb+srv://ducbd1510:151002@ducbd.a8vx9jc.mongodb.net/

# MONGODB_DB_NAME=pc-adviser


# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_TTL=900

# RabbitMQ Configuration (for health check)
RABBITMQ_URL=amqp://localhost:5672

# Logging Configuration
LOG_LEVEL=info

# Monitoring Configuration
PROMETHEUS_ENABLED=false

# Cache Configuration
CACHE_ENABLED=true
CACHE_TTL=900

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=duc.bd1510@gmail.com
SMTP_PASS=obqpwazhauxaqvng
EMAIL_FROM=duc.bd1510@gmail.com
EMAIL_FROM_NAME=PC Adviser
